@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  } /* Adjust for length */
}

@keyframes marquee-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.marquee-container {
  overflow: hidden;
  position: relative;
}

.marquee-track {
  display: flex;
  gap: 2rem; /* same as gap-x-3 in tailwind */
  animation: marquee-left 20s linear infinite;
}

.marquee-track.reverse {
  animation: marquee-right 20s linear infinite;
}

.marquee-container:hover .marquee-track {
  animation-play-state: paused;
}
